html{
    overflow: auto;
}

body {
    background: #2b2d42;
}

border {
    width: 35%;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 20px;
    display: inline-block;
}

.btn-lg {
    font-size: 1.5em;
    position: relative;
    top: 250px; 
    left: 230px;
}

#good_minion {
    width: 25%;
    position: relative;
    right: 375px;
    top: 20px;
    height: auto;
    max-width: auto;
}

#evil_minion {
    width: 17%;
    position: relative;
    bottom: 280px;
    left: 875px;
    height: auto;
    max-width: auto;
}

footer {
    background: #222;
    padding: 60px;
}
